.App {
  text-align: center;
}

#Appname{
  padding: 1rem;
  border: 2px solid black;
}

.items-div{
  padding: 2rem;
  border: 2px solid black;
  text-align: left;
}

.btnsgroup{
  padding: 0.7rem;
}